body{
    background-image: url('../images/img.jpeg');
    
    
}
h1{
  margin: 2rem;
  padding: 1rem;
  font-family: Arial;
  font-weight: bold;
  font-size: 4rem;
  color: lightblue;
  text-align: center;
}

.nextto{
  display: inline-block;
  width: 35%;
  padding: 3rem;
  margin-left: 3rem;
  margin-right: 5rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
  background-color: purple;
  color: white;
  text-align: center;
  font-family: Comic Sans MS, cursive, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s;
}
.members{
  margin: 2rem;
  color: lightblue;
  font-size: 2rem;
  font-family: Arial;
}
button:hover {
  background-color: pink;
  color: white;
  font-size: 30px;
  font-family: Arial;
}



