
body{
    background-image: url('../images/img2.jpeg');
    
    
}
h1{
  margin: 2rem;
  padding: 1rem;
  font-family: Arial;
  font-weight: bold;
  font-size: 4rem;
  color: lightblue;
  text-align: center;
}

.product{
    padding: 2rem;
    width: 80%;
    margin: 2rem;
    background-color: purple;
    color: white;
    text-align: center;
    font-family: Arial;
    font-size: 2rem;
    border-radius: 10px;
}
