

<head>
    
    <meta charset="utf-8">
        
    <!-- Setting the webpage's headline -->
       <h1>Welcome to the Snail Scale Homepage</h1>
       <link rel="stylesheet" type="text/css" href="css/agile.css" />

  </head>


<div class="butt">
    <a href="./home">
        <button class="nextto">
            Learn about our product
                </button>
    </a>
    <a href="./kvp.html">
        <button class="nextto">
            Why our product
                </button>
    </a>
</div>

<div class="members">
   Team members:
   <ul>
      <li>Dallas Dominguez</li>
     <li>Sepehr Bostan</li>
     <li>Nihal Azeez</li>
     <li>Salman Noori</li>
  </ul>
</div>


