<!Doctype>
<html>
<head>
    
    <meta charset="utf-8">
        
    <!-- Setting the webpage's headline -->
       <h1>KVP</h1>
       <link rel="stylesheet" type="text/css" href="css/agile.css" />

  </head>

<body>
    <div class="kvp">
      <p class="title">Product's benefits</p>
      <ul>
        <li>Simplicity. Turn it on, sign in on wifi, done
    </li>
        <li>Accurate and fast nutrient information</li>
        <li>Easy-to-clean antimicrobial food scale surface</li>
        <li>Accurately calculate and display the weight of the food</li>
        <li>Calculates the calorie of the food</li>
        <li>Calculates macronutrients and micronutrients in the food
    </li>
        
      </ul>
        
      </p>
      
    </div>

    <div class="kvp">
      <p class="title">What makes these benefits valuable</p>
      <p class="answer">
        SIMPLICITY. We are aiming to simplify a process that currently takes most people a long time to do. Food preparation can take very long, especially when it’s required to portion out your fruits, vegetables, meats, etc., and current solutions only remedy the problem with a lot of “guess and check” style estimations of macronutrients. We want to just deliver fast and accurate nutrient information. It’s a simple yet humble mission.
      </p>
      
    </div>

    <div class=kvpp>
      <p class="title">Customer's main problem</p>
      <p class="answer">
        Customers are currently facing a tedious and complex process of measuring and calculating macronutrients and micronutrients in their food intake everyday.
      </p>
      
    </div>

    <div class=kvpp>
      <p class="title">Why we are better</p>
      <p class="answer">
        Existing apps require the user to input serving size, food's type. Our product will take care of that. The user will put the food on the scale, and the scale will calculate nutrients' facts and that’s what differentiate us.
      </p>
      
    </div>
    
    </body>
</html>
