

<head>
    
    <meta charset="utf-8">
        
    <!-- Setting the webpage's headline -->
       <h1>Snail Scale</h1>
       <link rel="stylesheet" type="text/css" href="css/agile.css" />

  </head>


    <div class="product">
        SnailScale is a product integrating a hardware (scale with camera) with an app on a mobile device. Customers will place the food they are about to eat and cook and by utilizing computer vision and the scale sensor, the device will detect what the food is, and will look into its database (Google) for information about its macronutrients (calories, fats, proteins, carbs) and micronutrients and return it to the customer via app. Prospective customers include, people compromised with health conditions and would like to address those concerns and watch their food intake, elderly folks who need to follow specific diets for maintaining health and live long, athletes/bodybuilders looking for greater control and information to succeed in specific diets and maximize performance/recovery, and youth and newer generations that want to increase their longevity and live as healthy as possible.
        </div>
   






